.property-card-container {
    height: 50vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid green;
  }
  
  .property-card-title {
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 5px;
  }

  p {
    border: 2px solid green;
  }